body {
    background-color: gray;
}
h1 {
    color: red;
}
img {
    padding-right: 100px;
    padding-top: 30px;
    padding-left: 100px;
}
h2 {
    padding-top: 10px;
    padding-right: 100px;
    padding-left: 100px;
}
p {
    margin-left: 43%;
    margin-right: 43%;
    margin-top: 20px;
    font-size: 30px;
}
input[class="produtos"] {
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 10px;
}

input[class="total"] {
    position: absolute;
    top: 65px;
    right: 42px;
    width: 70px;
}
