{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercadinho do Zé</title>
    <link rel="stylesheet" href="{%static 'mercearia/css/mercearia.css' %}">
<body>
<a class="Mercearia" href="/"><h2>Mercearia do Zé</h2></a>
    <ul class="menu">
        <li class="lista-menu"><a href="/">Início</a></li>
        <li class="lista-menu"><a href="/sobre">Sobre</a></li>
        <li class="lista-menu"><a href="#">Contato</a></li>
        <l1 class="lista-menu"><a href="/admin">Administração</a></l1>
    </ul>
<h1>Sobre Nós:</h1><br>
    Era uma vez um homem chamado Zé, que sempre sonhou em ter seu próprio negócio. Ele era um amante da comida e tinha um talento especial para selecionar os melhores produtos frescos. Zé tinha uma visão clara em mente: abrir uma mercearia onde as pessoas pudessem encontrar os ingredientes mais saborosos e de alta qualidade.

Zé trabalhou duro durante anos, economizando cada centavo que podia para transformar seu sonho em realidade. Ele pesquisou e estudou tudo sobre o setor alimentício, aprendendo sobre fornecedores, tendências e práticas comerciais.

Finalmente, após muitos sacrifícios, Zé conseguiu juntar o dinheiro necessário para abrir sua mercearia. Ele escolheu um local movimentado no coração da cidade e batizou sua loja de "Mercearia do Zé". Com sua paixão pela comida e seu conhecimento sobre produtos de qualidade, Zé sabia que poderia oferecer algo único aos seus clientes.

A Mercearia do Zé abriu suas portas com uma grande variedade de produtos frescos, desde frutas e legumes até laticínios e carnes. Zé trabalhava incansavelmente para garantir que cada item em sua loja fosse cuidadosamente selecionado. Ele fazia questão de conhecer pessoalmente os agricultores e fornecedores locais, escolhendo apenas os produtos mais frescos e cultivados de forma sustentável.

Os clientes logo começaram a perceber a diferença na Mercearia do Zé. Eles apreciavam a qualidade dos produtos, o atendimento amigável e o ambiente acolhedor. A loja começou a atrair mais e mais clientes, e Zé ficou conhecido como o homem que trouxe a melhor comida para a cidade.

Com o passar do tempo, a Mercearia do Zé expandiu seu negócio, oferecendo também produtos orgânicos, produtos importados e uma seção de alimentos prontos para levar para casa. Zé sempre estava atento às necessidades e preferências de seus clientes, adaptando-se às mudanças do mercado e introduzindo novidades constantemente.

A Mercearia do Zé se tornou um local de encontro para a comunidade, onde as pessoas podiam não apenas comprar alimentos de alta qualidade, mas também compartilhar receitas, dicas culinárias e histórias. Zé se tornou um membro valorizado da comunidade, e seu amor pela comida e compromisso com a excelência inspiravam a todos.

A história de sucesso de Zé e sua Mercearia do Zé são um exemplo de como a determinação, o conhecimento e a paixão podem transformar um sonho em realidade. A loja continua a prosperar, sempre mantendo a qualidade e o serviço excepcionais que a tornaram famosa. E, graças ao visionário Zé, a comunidade desfruta de uma experiência de compra única e de produtos frescos e deliciosos todos os dias.
</body>
</head>