{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{%static 'mercearia/css/mercearia.css' %}">
    <title>Mercearia Do Zé</title>
    <h1>Mercadinho do Zé</h1>
    <div class="container">

    <a href="#" class="button">
        <div class="button__line"></div>
        <div class="button__line"></div>
        <span class="button__text">ENTRY</span>
        <div class="button__drow1"></div>
        <div class="button__drow2"></div>
    </a>

    </div>
    <form action="{% url 'ver_mercearia' %}" method="POST">{% csrf_token %}
        <button>Finalizar Pedido</button><br>
        <input name="total" value="{{valortotal}}" class="total" disabled placeholder="Valor Total">
        Digite seu nome: <input type="text" name="nome" placeholder="Digite seu nome" required>
        <br>
        <br>
        Entrega: <input type="checkbox" name="entrega">
        <input type="text" name="endereço" placeholder="Digite o endereço de entrega">
        <br>
    <table>
  <tr>
    <td>
      <img src="{%static 'mercearia/img/arroz.jpg'%}" width="200px" height="220px" alt="Arroz">
    </td>
    <td>
      <img src="{%static 'mercearia/img/feijao.jpg'%}" width="200px" height="220px" alt="Feijão">
    </td>
    <td>
      <img src="{%static 'mercearia/img/dolly.jpg'%}" width="200px" height="220px" alt="Dolly">
    </td>
  </tr>
  <tr>
    <td>
      <p>Arroz</p>
    </td>
    <td>
      <p>Feijão</p>
    </td>
    <td>
      <p>Dolly</p>
    </td>
  </tr>
  <tr>
      <td><input class="produtos" type="number" name="arroz" placeholder="R${{preco_arroz}}/unit." min="0"></td>
      <td><input class="produtos" type="number" name="feijao" placeholder="R${{preco_feijao}}/unit." min="0"></td>
      <td><input class="produtos" type="number" name="refri" placeholder="R${{preco_refri}}/unit." min="0"></td>

  </tr>
</table>
  </form>
</head>
<body>

</body>
</html>